.main {
  display: flex;
  flex-direction: column;
}

.new-todo {
  margin-top: 33px;
}

.other,
.favorites,
.new-todo {
  align-self: center;
}

.favorites {
  margin-block: 45px;
}

.label {
  margin-left: 30px;
  margin-bottom: 10px;
}

.todos-container,
.favorite-todos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.favorite-todos-container {
  width: 100%;
}
