@import "../../styles/mixins";

.palette {
  @include box-shadow;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, auto);
  background-color: white;
  border-radius: 10px;
  padding-inline: 10px;
  padding-block: 5px;
  gap: 10px;
  width: fit-content;
  position: relative;

  $circle-size: 37px;
  div {
    width: $circle-size;
    height: $circle-size;
    border-radius: 100%;
  }
}
